@import url('https://fonts.googleapis.com/css2?family=Alkalami&family=Aref+Ruqaa:wght@400;700&family=Arima:wght@100..700&family=Cairo:wght@200..1000&family=Kufam:ital,wght@0,400..900;1,400..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Reem+Kufi:wght@400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html {
    direction: rtl;
}

* {
    padding: 0;
    margin: 0;
    font-family: "Noto Sans", system-ui;
    box-sizing: border-box;
}

section {
    background: url(assets/bg.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}

section .container {
    width: 650px;
    background: #332a224e;
    padding: 30px 25px;
    backdrop-filter: blur(2px);
    border-radius: 20px;
    border: 2px solid #d7d7d74e;
    margin-right: 10%;
}

section .top_sec {
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
    margin-bottom: 40px;
    border-bottom: 2px solid #d7d7d74e;

}

section .top_sec select {
    width: 250px;
    border-radius: 10px;
    outline: none;
    background: #a54f3a;
    color: white;
    padding: 3px 10px;
    font-size: 22px;
    margin-top: 10px;
}

section .top_sec h3,
section .top_sec h4 {
    font-size: 26px;
    color: white;
}

section .top_sec .date {
    width: 250px;
}

section .prayer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 25px;
    background: #c0583e75;
    margin-bottom: 25px;
    color: white;
    font-size: 24px;
    border-radius: 10px;
    border: px solid #d7d7d74e;
}